

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* MENU & GENERAL */

#background {
  position:fixed;
  width:100%;
  height:100%
  object-fit: 100%;
  background-repeat: no-repeat;
}

nav ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li { float: left; }

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}
nav li a:hover:not(.active) { background-color: #111; }
.active { background-color: #ffc100; }


/* PLAY */


.question-set {
    width: 30%;
    position: fixed;
    left: 80px;
    top:200px;
    padding: 20px;
    display: none;
    color:white;
    background-color:rgba(0, 0, 0, 0.9);
  }

.testQ { text-align: center; }

.multi-choice h2 {font-family: 'Press Start 2P', sans-serif; opacity:1;}

.choice, #tax-defeat p {
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    color: white;
    font-family: 'Montserrat',sans-serif;
  }

.choice:hover { color: #E80C7A; }

#sprite {position: fixed; left: 40%; top: 30%; width:700px; height:700px;}

#tax-defeat {
  width: 30%;
  position: fixed;
  left: 30%;
  top:200px;
  padding: 20px;
  display: none;
  color:white;
  background-color:rgba(0, 0, 0, 0.9);
  text-align:center;
}

/* HOME */

.title

#SEEK {
  margin: auto;
  position: absolute;
  top: 100px;
  left:42%;
  color: white;
  font-size: 35px;
  font-family: 'Press Start 2P', sans-serif;
}

#subtitle{
  margin: auto;
  position: absolute;
  top: 150px;
  left: 43%;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title i { font-family: 'Montserrat', sans-serif; color: white; }

#mon1 { position: absolute; left: 400px; top: 1100px; }

#mon2 { position: absolute; left: 1000px; top: 900px; }

#mon3 { position: absolute; left: 600px; top: 650px; }



/* LEARN */


body { margin:0; font-family: 'Montserrat'; }

#taxes { background-color: #FFFDF7; }

#money { background-color: #F8FBFE; }

#misc { background-color: #FFF9FF; }

.content { margin-top: 80px; }

.ed { padding: 30px 50px 30px 50px; margin-left: 100px; }

.topic { font-size: 40px; font-weight: 300px; }

.question {
  font-style: italic;
  font-weight: bold;
  margin: 25px 0 25px 0;
}

.content li { margin: 10px; }

#sidebar { margin-top: 50px;}

#sidebar li { float: none; }

#sidebar  ul {
margin-top: 90px;
padding: 0;
width: 100px;
background-color: transparent;
position: fixed;
height: 100%;
overflow: auto;
}

#sidebar li a {
color: #000;
padding: 10px 16px;
text-decoration: none;
border-right: solid 1px black;

}

#sidebar li a:hover { background-color: transparent; color: gray; }
