
/* HOME */
body {
  margin:0;
  font-family: 'Montserrat';
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

nav li {
    float: left;
  }

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }

nav li a:hover:not(.active) {
    background-color: #111;
  }

.active {
    background-color: #ffc100;
  }


/* PLAY */
.question-set, .timer{
    width: 30%;
    position: fixed;
    left: 40px;
    top:100px;
    padding: 20px;
    background-color: black;
    display: none;
    color:white;
    background-color:rgba(0, 0, 0, 0.75);
  }

.question { text-align: center; }

.multi-choice h2 {font-family: 'Press Start 2P', sans-serif; opacity:1;}

.choice {
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    color: white;
    font-family: sans-serif;
  }

.choice:hover { color: #E80C7A; }


#play-background {
  width:100%;
  height:100%
  object-fit: 100%;
}
